
:root {
  --cor-principal: #0CF25D;
}
body {
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.816);
  color: #F9943B;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}

h1{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
h2,
p {
  padding: 10px auto;
  text-align: justify;
  margin: 0px 40px 40px 40px;
  font-size: 18px;
}

h2 {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}
main {
  color: #F9943B;
}


#container {
  width: 80%;
  height: 80%;
  margin: 30px auto;
}

ul {
  list-style-type: none;
}

#artigo-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#artigo-admin:hover {
  background-color: #cccccc;
}

.campo-form {
  margin: 10px 0;
  display: block;
}

.botao-block {
  color: white;
  font-weight: bold;
  text-align: center;
}